@page
@model Dropdowns.Pages.Corporations.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Corporation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Corporation.CorporationName" class="control-label"></label>:
                <input asp-for="Corporation.CorporationName" class="form-control" />
                <span asp-validation-for="Corporation.CorporationName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Corporation.Continent" class="control-label"></label>:
                <select id="ContinentsSelectObj" asp-for="Corporation.ContinentID" class ="form-control" asp-items="ViewBag.ContinentID">
                    <option value="">-- Select Continent --</option>  
                </select>
            </div>
            <div class="form-group">
                <label asp-for="    Corporation.Country" class="control-label"></label>:
                <select id="CountriesSelectObj" asp-for="Corporation.CountryID" class ="form-control" asp-items="ViewBag.CountryID">
                    <option value="">-- Select Country --</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(function() {
            $("#ContinentsSelectObj").change(function() {   
                var selectedContinent = $("#ContinentsSelectObj").val();
                var coutriesSelectObject = $('#CountriesSelectObj');
                coutriesSelectObject.empty();
                if (selectedContinent != null && selectedContinent != '') {
                     $.ajax({
                        type: 'GET',
                        url: '/Corporations/Create?handler=CountiesInContinent',
                        contentType: "applications/json",
                        data: {
                            contID: selectedContinent
                        },
                        success: function(data) {
                            $.each(data, function(idx, country) {
                                coutriesSelectObject.append('<option value="' + country.value + '">' + country.text + '</option>');
                            });
                        },
                        error: function(exc) {
                            alert("error");
                        }
                    });
                }
            });
        });
    </script>
}
